body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.custom-image-question {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  float: none;
  border-radius: 50%;
}

.custom-image-poll {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50%;
  margin-bottom: 50%;
  width: 70%;
  float: none;
  border-radius: 50%;
}

.nav-link-custom {
  text-decoration: none !important;
  color: white !important;
}

.avatar-image {
  margin-right: 10px;
  margin-left: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.btn {
  margin: 20px auto;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  width: 100%;
  position: relative;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
  margin: auto;
}

.main-div {
  text-align: center;
  margin: auto;
  padding: 10px;
}

.main-card {
  margin: auto;
  margin-bottom: 10px;
  max-width: 500px;
  min-width: 400px !important;
  width: 40%;
}

.question-card {
  margin: 5%;
}

.poll-card {
  padding: 10px;
  margin-bottom: 5px;
}

.poll-card-text {
  text-align: left;
}

.pad-card {
  padding-top: 10px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-bottom: unset !important;
}

.active {
  font-weight: bold;
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.login-style {
  padding: 10px;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

.split {
  height: 100%;
  padding-top: 20px;
}

/* Control the left side */
.left {
  float: left;
  width: 40%;
  border-right: 2px solid silver;
}

/* Control the right side */
.right {
  float: right;
  width: 60%;
  padding: 10px;
}
